// fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');

$mainFont: 'Montserrat', sans-serif;

// colors
$mainBack: linear-gradient(253.58deg, #FFC000 1.55%, #FF8A00 95.8%) no-repeat;
$mainColor:  #000000;
$red:        #E82E37;
$red-orange: #FF4D00;
$orange:     #FF8A01;
$yellow:     #FFDF7E;
$gray:       #D2D2D2;
$milk:       #FFF7DF;
$white:      #FFFFFF;